<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ButtonAboutTheCreators.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,32},{112,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{112,32}</string>
		</dict>
		<key>ButtonConfig.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,98},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonConfigHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,105},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonContinue.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,105},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonContinueHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,122},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonExit.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,122},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonExitHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,145},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonFacebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,145},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonFacebookHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,166},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonMusicOff.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,173},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonMusicOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,173},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonPlayLocked.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,68},{50,50}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>ButtonPlayLockedHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,91},{50,50}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>ButtonPlayUnlocked.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,91},{50,50}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>ButtonPlayUnlockedHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,91},{50,50}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>ButtonScores.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,190},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonScoresHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,190},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonSoundOff.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,213},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonSoundOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,213},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonTiltSens.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,234},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>FacebookLoginButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,55},{136,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{136,32}</string>
		</dict>
		<key>GameName.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,258},{230,59}}</string>
			<key>offset</key>
			<string>{0.000000,-0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{230,60}</string>
		</dict>
		<key>IconExample.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,4},{24,24}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>IconFacebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,4},{24,24}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>IconGameCenter.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,4},{24,24}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>IconGooglePlayGameServices.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,4},{24,17}}</string>
			<key>offset</key>
			<string>{0.000000,-0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>MessageBorder.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,4},{24,24}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>PauseRankBadge.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,24},{48,24}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{48,24}</string>
		</dict>
		<key>PauseScreenArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,24},{32,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>PauseScreenArrowHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,24},{32,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>PauseSliderBackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,4},{16,8}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{16,8}</string>
		</dict>
		<key>PauseSliderFill.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,4},{16,8}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{16,8}</string>
		</dict>
		<key>PauseSliderKnot.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,4},{24,24}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>PauseSmallContinue.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,25},{32,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>PauseSmallContinueHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,32},{32,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>PauseSmallExit.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,52},{32,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>PauseSmallExitHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,55},{32,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>PlayerName0.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,68},{123,33}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{123,33}</string>
		</dict>
		<key>PlayerName1.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,24},{160,27}}</string>
			<key>offset</key>
			<string>{0.000000,3.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{160,33}</string>
		</dict>
		<key>PlayerName2.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,61},{77,33}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{77,33}</string>
		</dict>
		<key>SelectionArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,4},{16,27}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{24,37}</string>
		</dict>
		<key>TapPresentation.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,4},{245,16}}</string>
			<key>offset</key>
			<string>{0.500000,-1.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{246,23}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>textureFileName</key>
		<string>UIAssets.png</string>
	</dict>
</dict>
</plist>
