<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ButtonAboutTheCreators.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,32},{112,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{112,32}</string>
		</dict>
		<key>ButtonConfig.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,140},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonConfigHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,140},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonContinue.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,163},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonContinueHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,163},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonExit.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,176},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonExitHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,188},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonFacebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,208},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonFacebookHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,208},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonMusicOff.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,231},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonMusicOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,231},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonPlayLocked.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,68},{50,50}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>ButtonPlayLockedHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,122},{50,50}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>ButtonPlayUnlocked.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,134},{50,50}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>ButtonPlayUnlockedHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,134},{50,50}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>ButtonScores.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,244},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonScoresHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,244},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonSoundOff.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,256},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonSoundOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,276},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ButtonTiltSens.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,276},{64,64}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>FacebookLoginButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,55},{136,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{136,32}</string>
		</dict>
		<key>GPGPlatformUnavailable.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,68},{152,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{152,32}</string>
		</dict>
		<key>GPGSignInButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,91},{152,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{152,32}</string>
		</dict>
		<key>GPGSignOutButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,104},{152,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{152,32}</string>
		</dict>
		<key>GPGSigningButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,127},{152,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{152,32}</string>
		</dict>
		<key>GameName.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,344},{230,59}}</string>
			<key>offset</key>
			<string>{0.000000,-0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{230,60}</string>
		</dict>
		<key>IconFacebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,4},{24,24}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>IconGPG.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,4},{24,24}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>IconGPGAchievements.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,4},{16,23}}</string>
			<key>offset</key>
			<string>{0.000000,-0.500000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>IconGPGLeaderboards.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,4},{22,18}}</string>
			<key>offset</key>
			<string>{0.000000,1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>IconGameCenter.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,4},{24,24}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>MessageBorder.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,4},{24,24}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>PauseRankBadge.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,24},{48,24}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{48,24}</string>
		</dict>
		<key>PauseScreenArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,24},{32,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>PauseScreenArrowHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,24},{32,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>PauseSliderBackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,4},{16,8}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{16,8}</string>
		</dict>
		<key>PauseSliderFill.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,4},{16,8}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{16,8}</string>
		</dict>
		<key>PauseSliderKnot.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,16},{24,24}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>PauseSmallContinue.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,26},{32,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>PauseSmallContinueHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,32},{32,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>PauseSmallExit.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,52},{32,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>PauseSmallExitHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,52},{32,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>PlayerName0.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,97},{123,33}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{123,33}</string>
		</dict>
		<key>PlayerName1.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,24},{160,27}}</string>
			<key>offset</key>
			<string>{0.000000,3.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{160,33}</string>
		</dict>
		<key>PlayerName2.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,60},{77,33}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{77,33}</string>
		</dict>
		<key>SelectionArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,4},{16,27}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{24,37}</string>
		</dict>
		<key>TapPresentation.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,4},{245,16}}</string>
			<key>offset</key>
			<string>{0.500000,-1.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{246,23}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>textureFileName</key>
		<string>UIAssets.png</string>
	</dict>
</dict>
</plist>
