<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ButtonAboutTheCreators.png</key>
		<dict>
			<key>frame</key>
			<string>{{1313,104},{448,128}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{448,128}</string>
		</dict>
		<key>ButtonConfig.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,316},{256,256}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>ButtonConfigHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,340},{256,256}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>ButtonContinue.png</key>
		<dict>
			<key>frame</key>
			<string>{{728,340},{256,256}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>ButtonContinueHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{988,373},{256,256}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>ButtonExit.png</key>
		<dict>
			<key>frame</key>
			<string>{{1248,440},{256,256}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>ButtonExitHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{1508,440},{256,256}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>ButtonFacebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{1768,440},{256,256}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>ButtonFacebookHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,576},{256,256}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>ButtonMusicOff.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,600},{256,256}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>ButtonMusicOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,600},{256,256}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>ButtonPlayLocked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1370,236},{200,200}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>ButtonPlayLockedHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{1574,236},{200,200}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>ButtonPlayUnlocked.png</key>
		<dict>
			<key>frame</key>
			<string>{{1778,236},{200,200}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>ButtonPlayUnlockedHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,316},{200,200}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>ButtonScores.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,633},{256,256}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>ButtonScoresHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,836},{256,256}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>ButtonSoundOff.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,860},{256,256}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>ButtonSoundOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,860},{256,256}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>ButtonTiltSens.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,893},{256,256}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>FacebookLoginButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,184},{544,128}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{544,128}</string>
		</dict>
		<key>GameName.png</key>
		<dict>
			<key>frame</key>
			<string>{{1044,700},{916,236}}</string>
			<key>offset</key>
			<string>{0.000000,-1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{920,240}</string>
		</dict>
		<key>IconExample.png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,4},{96,96}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>IconFacebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{1430,4},{96,96}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>IconGameCenter.png</key>
		<dict>
			<key>frame</key>
			<string>{{1530,4},{96,96}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>IconGooglePlayGameServices.png</key>
		<dict>
			<key>frame</key>
			<string>{{1230,4},{96,73}}</string>
			<key>offset</key>
			<string>{0.000000,-1.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>MessageBorder.png</key>
		<dict>
			<key>frame</key>
			<string>{{1630,4},{96,96}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>PauseRankBadge.png</key>
		<dict>
			<key>frame</key>
			<string>{{1730,4},{192,96}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{192,96}</string>
		</dict>
		<key>PauseScreenArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,40},{128,128}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>PauseScreenArrowHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,71},{128,128}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>PauseSliderBackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,4},{64,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,32}</string>
		</dict>
		<key>PauseSliderFill.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,4},{64,32}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{64,32}</string>
		</dict>
		<key>PauseSliderKnot.png</key>
		<dict>
			<key>frame</key>
			<string>{{1926,4},{96,96}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>PauseSmallContinue.png</key>
		<dict>
			<key>frame</key>
			<string>{{917,71},{128,128}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>PauseSmallContinueHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{1049,71},{128,128}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>PauseSmallExit.png</key>
		<dict>
			<key>frame</key>
			<string>{{1181,81},{128,128}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>PauseSmallExitHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{1765,104},{128,128}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>PlayerName0.png</key>
		<dict>
			<key>frame</key>
			<string>{{552,203},{497,133}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{497,133}</string>
		</dict>
		<key>PlayerName1.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,71},{645,109}}</string>
			<key>offset</key>
			<string>{0.000000,12.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{645,133}</string>
		</dict>
		<key>PlayerName2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1053,236},{313,133}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{313,133}</string>
		</dict>
		<key>SelectionArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,4},{60,106}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{100,150}</string>
		</dict>
		<key>TapPresentation.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,4},{976,63}}</string>
			<key>offset</key>
			<string>{2.000000,-6.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{984,92}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>textureFileName</key>
		<string>UIAssets.png</string>
	</dict>
</dict>
</plist>
