
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameName.png</key>
            <dict>
                <key>frame</key>
                <string>{{0, 0}, {920, 240}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {920, 240}}</string>
                <key>sourceSize</key>
                <string>{920, 240}</string>
            </dict>
            <key>TapPresentation.png</key>
            <dict>
                <key>frame</key>
                <string>{{924, 0}, {984, 92}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {984, 92}}</string>
                <key>sourceSize</key>
                <string>{984, 92}</string>
            </dict>
            <key>PlayerName1.png</key>
            <dict>
                <key>frame</key>
                <string>{{924, 96}, {645, 133}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {645, 133}}</string>
                <key>sourceSize</key>
                <string>{645, 133}</string>
            </dict>
            <key>GPGSignInButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912, 0}, {608, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {608, 128}}</string>
                <key>sourceSize</key>
                <string>{608, 128}</string>
            </dict>
            <key>GPGSigningButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573, 96}, {608, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {608, 128}}</string>
                <key>sourceSize</key>
                <string>{608, 128}</string>
            </dict>
            <key>GPGSignOutButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{924, 233}, {608, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {608, 128}}</string>
                <key>sourceSize</key>
                <string>{608, 128}</string>
            </dict>
            <key>FacebookLoginButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705, 96}, {544, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {544, 128}}</string>
                <key>sourceSize</key>
                <string>{544, 128}</string>
            </dict>
            <key>PlayerName0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705, 644}, {497, 133}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {497, 133}}</string>
                <key>sourceSize</key>
                <string>{497, 133}</string>
            </dict>
            <key>ButtonConfig.png</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1145}, {256, 256}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {256, 256}}</string>
                <key>sourceSize</key>
                <string>{256, 256}</string>
            </dict>
            <key>ButtonConfigHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{0, 708}, {256, 256}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {256, 256}}</string>
                <key>sourceSize</key>
                <string>{256, 256}</string>
            </dict>
            <key>ButtonContinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{0, 365}, {256, 256}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {256, 256}}</string>
                <key>sourceSize</key>
                <string>{256, 256}</string>
            </dict>
            <key>ButtonContinueHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1405}, {256, 256}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {256, 256}}</string>
                <key>sourceSize</key>
                <string>{256, 256}</string>
            </dict>
            <key>ButtonExit.png</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1665}, {256, 256}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {256, 256}}</string>
                <key>sourceSize</key>
                <string>{256, 256}</string>
            </dict>
            <key>ButtonExitHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{260, 244}, {256, 256}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {256, 256}}</string>
                <key>sourceSize</key>
                <string>{256, 256}</string>
            </dict>
            <key>ButtonFacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{520, 244}, {256, 256}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {256, 256}}</string>
                <key>sourceSize</key>
                <string>{256, 256}</string>
            </dict>
            <key>ButtonFacebookHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{780, 365}, {256, 256}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {256, 256}}</string>
                <key>sourceSize</key>
                <string>{256, 256}</string>
            </dict>
            <key>ButtonMusicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{260, 504}, {256, 256}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {256, 256}}</string>
                <key>sourceSize</key>
                <string>{256, 256}</string>
            </dict>
            <key>ButtonMusicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{520, 504}, {256, 256}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {256, 256}}</string>
                <key>sourceSize</key>
                <string>{256, 256}</string>
            </dict>
            <key>ButtonScores.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040, 365}, {256, 256}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {256, 256}}</string>
                <key>sourceSize</key>
                <string>{256, 256}</string>
            </dict>
            <key>ButtonScoresHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300, 365}, {256, 256}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {256, 256}}</string>
                <key>sourceSize</key>
                <string>{256, 256}</string>
            </dict>
            <key>ButtonSoundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{780, 625}, {256, 256}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {256, 256}}</string>
                <key>sourceSize</key>
                <string>{256, 256}</string>
            </dict>
            <key>ButtonSoundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{260, 764}, {256, 256}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {256, 256}}</string>
                <key>sourceSize</key>
                <string>{256, 256}</string>
            </dict>
            <key>ButtonTiltSens.png</key>
            <dict>
                <key>frame</key>
                <string>{{520, 764}, {256, 256}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {256, 256}}</string>
                <key>sourceSize</key>
                <string>{256, 256}</string>
            </dict>
            <key>ButtonAboutTheCreators.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040, 625}, {448, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {448, 128}}</string>
                <key>sourceSize</key>
                <string>{448, 128}</string>
            </dict>
            <key>PlayerName2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492, 708}, {313, 133}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {313, 133}}</string>
                <key>sourceSize</key>
                <string>{313, 133}</string>
            </dict>
            <key>ButtonPlayLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040, 757}, {200, 200}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {200, 200}}</string>
                <key>sourceSize</key>
                <string>{200, 200}</string>
            </dict>
            <key>ButtonPlayLockedHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244, 757}, {200, 200}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {200, 200}}</string>
                <key>sourceSize</key>
                <string>{200, 200}</string>
            </dict>
            <key>ButtonPlayUnlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{780, 885}, {200, 200}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {200, 200}}</string>
                <key>sourceSize</key>
                <string>{200, 200}</string>
            </dict>
            <key>ButtonPlayUnlockedHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{984, 961}, {200, 200}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {200, 200}}</string>
                <key>sourceSize</key>
                <string>{200, 200}</string>
            </dict>
            <key>PauseRankBadge.png</key>
            <dict>
                <key>frame</key>
                <string>{{0, 244}, {192, 96}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {192, 96}}</string>
                <key>sourceSize</key>
                <string>{192, 96}</string>
            </dict>
            <key>PauseScreenArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0, 968}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PauseScreenArrowHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188, 961}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PauseSmallContinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320, 961}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PauseSmallContinueHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188, 1093}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PauseSmallExit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320, 1093}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PauseSmallExitHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{260, 1024}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>SelectionArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1925}, {100, 150}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {100, 150}}</string>
                <key>sourceSize</key>
                <string>{100, 150}</string>
            </dict>
            <key>IconFacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{780, 244}, {96, 96}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {96, 96}}</string>
                <key>sourceSize</key>
                <string>{96, 96}</string>
            </dict>
            <key>IconGameCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{154, 1925}, {96, 96}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {96, 96}}</string>
                <key>sourceSize</key>
                <string>{96, 96}</string>
            </dict>
            <key>IconGPG.png</key>
            <dict>
                <key>frame</key>
                <string>{{254, 1925}, {96, 96}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {96, 96}}</string>
                <key>sourceSize</key>
                <string>{96, 96}</string>
            </dict>
            <key>MessageBorder.png</key>
            <dict>
                <key>frame</key>
                <string>{{132, 968}, {96, 96}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {96, 96}}</string>
                <key>sourceSize</key>
                <string>{96, 96}</string>
            </dict>
            <key>PauseSliderKnot.png</key>
            <dict>
                <key>frame</key>
                <string>{{392, 1024}, {96, 96}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {96, 96}}</string>
                <key>sourceSize</key>
                <string>{96, 96}</string>
            </dict>
            <key>PauseSliderBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536, 233}, {64, 32}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {64, 32}}</string>
                <key>sourceSize</key>
                <string>{64, 32}</string>
            </dict>
            <key>PauseSliderFill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842, 96}, {64, 32}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {64, 32}}</string>
                <key>sourceSize</key>
                <string>{64, 32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
        </dict>
    </dict>
</plist>