
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameName.png</key>
            <dict>
                <key>frame</key>
                <string>{{0, 0}, {460, 120}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {460, 120}}</string>
                <key>sourceSize</key>
                <string>{460, 120}</string>
            </dict>
            <key>TapPresentation.png</key>
            <dict>
                <key>frame</key>
                <string>{{464, 0}, {492, 46}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {492, 46}}</string>
                <key>sourceSize</key>
                <string>{492, 46}</string>
            </dict>
            <key>PlayerName1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464, 50}, {322, 66}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {322, 66}}</string>
                <key>sourceSize</key>
                <string>{322, 66}</string>
            </dict>
            <key>GPGSignInButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{790, 50}, {304, 64}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {304, 64}}</string>
                <key>sourceSize</key>
                <string>{304, 64}</string>
            </dict>
            <key>GPGSigningButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{464, 120}, {304, 64}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {304, 64}}</string>
                <key>sourceSize</key>
                <string>{304, 64}</string>
            </dict>
            <key>GPGSignOutButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{858, 50}, {304, 64}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {304, 64}}</string>
                <key>sourceSize</key>
                <string>{304, 64}</string>
            </dict>
            <key>FacebookLoginButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{926, 50}, {272, 64}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {272, 64}}</string>
                <key>sourceSize</key>
                <string>{272, 64}</string>
            </dict>
            <key>ButtonConfig.png</key>
            <dict>
                <key>frame</key>
                <string>{{0, 124}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>ButtonConfigHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{132, 124}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>ButtonContinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{264, 124}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>ButtonContinueHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{396, 188}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>ButtonExit.png</key>
            <dict>
                <key>frame</key>
                <string>{{528, 188}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>ButtonExitHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{0, 256}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>ButtonFacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{132, 256}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>ButtonFacebookHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{264, 256}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>ButtonMusicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{396, 320}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>ButtonMusicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{528, 320}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>ButtonScores.png</key>
            <dict>
                <key>frame</key>
                <string>{{660, 358}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>ButtonScoresHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{792, 358}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>ButtonSoundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{0, 388}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>ButtonSoundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{132, 388}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>ButtonTiltSens.png</key>
            <dict>
                <key>frame</key>
                <string>{{264, 388}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PlayerName0.png</key>
            <dict>
                <key>frame</key>
                <string>{{396, 452}, {248, 66}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {248, 66}}</string>
                <key>sourceSize</key>
                <string>{248, 66}</string>
            </dict>
            <key>ButtonAboutTheCreators.png</key>
            <dict>
                <key>frame</key>
                <string>{{926, 326}, {224, 64}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {224, 64}}</string>
                <key>sourceSize</key>
                <string>{224, 64}</string>
            </dict>
            <key>PlayerName2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660, 188}, {156, 66}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {156, 66}}</string>
                <key>sourceSize</key>
                <string>{156, 66}</string>
            </dict>
            <key>ButtonPlayLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{648, 490}, {100, 100}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {100, 100}}</string>
                <key>sourceSize</key>
                <string>{100, 100}</string>
            </dict>
            <key>ButtonPlayLockedHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{752, 490}, {100, 100}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {100, 100}}</string>
                <key>sourceSize</key>
                <string>{100, 100}</string>
            </dict>
            <key>ButtonPlayUnlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{0, 520}, {100, 100}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {100, 100}}</string>
                <key>sourceSize</key>
                <string>{100, 100}</string>
            </dict>
            <key>ButtonPlayUnlockedHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{104, 520}, {100, 100}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {100, 100}}</string>
                <key>sourceSize</key>
                <string>{100, 100}</string>
            </dict>
            <key>PauseRankBadge.png</key>
            <dict>
                <key>frame</key>
                <string>{{730, 188}, {96, 48}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {96, 48}}</string>
                <key>sourceSize</key>
                <string>{96, 48}</string>
            </dict>
            <key>PauseScreenArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{856, 490}, {64, 64}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {64, 64}}</string>
                <key>sourceSize</key>
                <string>{64, 64}</string>
            </dict>
            <key>PauseScreenArrowHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{856, 558}, {64, 64}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {64, 64}}</string>
                <key>sourceSize</key>
                <string>{64, 64}</string>
            </dict>
            <key>PauseSmallContinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{208, 520}, {64, 64}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {64, 64}}</string>
                <key>sourceSize</key>
                <string>{64, 64}</string>
            </dict>
            <key>PauseSmallContinueHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{276, 520}, {64, 64}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {64, 64}}</string>
                <key>sourceSize</key>
                <string>{64, 64}</string>
            </dict>
            <key>PauseSmallExit.png</key>
            <dict>
                <key>frame</key>
                <string>{{344, 522}, {64, 64}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {64, 64}}</string>
                <key>sourceSize</key>
                <string>{64, 64}</string>
            </dict>
            <key>PauseSmallExitHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{208, 588}, {64, 64}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {64, 64}}</string>
                <key>sourceSize</key>
                <string>{64, 64}</string>
            </dict>
            <key>SelectionArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{276, 588}, {50, 75}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {50, 75}}</string>
                <key>sourceSize</key>
                <string>{50, 75}</string>
            </dict>
            <key>IconFacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{730, 288}, {48, 48}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {48, 48}}</string>
                <key>sourceSize</key>
                <string>{48, 48}</string>
            </dict>
            <key>IconGameCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{396, 124}, {48, 48}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {48, 48}}</string>
                <key>sourceSize</key>
                <string>{48, 48}</string>
            </dict>
            <key>IconGPG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0, 624}, {48, 48}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {48, 48}}</string>
                <key>sourceSize</key>
                <string>{48, 48}</string>
            </dict>
            <key>MessageBorder.png</key>
            <dict>
                <key>frame</key>
                <string>{{52, 624}, {48, 48}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {48, 48}}</string>
                <key>sourceSize</key>
                <string>{48, 48}</string>
            </dict>
            <key>PauseSliderKnot.png</key>
            <dict>
                <key>frame</key>
                <string>{{104, 624}, {48, 48}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {48, 48}}</string>
                <key>sourceSize</key>
                <string>{48, 48}</string>
            </dict>
            <key>PauseSliderBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{994, 0}, {32, 16}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {32, 16}}</string>
                <key>sourceSize</key>
                <string>{32, 16}</string>
            </dict>
            <key>PauseSliderFill.png</key>
            <dict>
                <key>frame</key>
                <string>{{994, 36}, {32, 16}}</string>
                <key>offset</key>
                <string>{0, 0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {32, 16}}</string>
                <key>sourceSize</key>
                <string>{32, 16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
        </dict>
    </dict>
</plist>