<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ButtonAboutTheCreators.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,56},{336,96}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{336,96}</string>
		</dict>
		<key>ButtonConfig.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,156},{192,192}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ButtonConfigHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{1508,192},{192,192}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ButtonContinue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1704,192},{192,192}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ButtonContinueHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,310},{192,192}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ButtonExit.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,310},{192,192}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ButtonExitHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,310},{192,192}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ButtonFacebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{592,352},{192,192}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ButtonFacebookHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,374},{192,192}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ButtonMusicOff.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,374},{192,192}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ButtonMusicOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1180,374},{192,192}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ButtonPlayLocked.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,156},{150,150}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>ButtonPlayLockedHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,156},{150,150}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>ButtonPlayUnlocked.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,156},{150,150}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>ButtonPlayUnlockedHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,156},{150,150}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>ButtonScores.png</key>
		<dict>
			<key>frame</key>
			<string>{{1376,388},{192,192}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ButtonScoresHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{1572,388},{192,192}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ButtonSoundOff.png</key>
		<dict>
			<key>frame</key>
			<string>{{1768,388},{192,192}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ButtonSoundOn.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,506},{192,192}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>ButtonTiltSens.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,506},{192,192}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>FacebookLoginButton.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,56},{408,96}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{408,96}</string>
		</dict>
		<key>GameName.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,192},{688,178}}</string>
			<key>offset</key>
			<string>{0.000000,-1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{690,180}</string>
		</dict>
		<key>IconExample.png</key>
		<dict>
			<key>frame</key>
			<string>{{1004,4},{72,72}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>IconFacebook.png</key>
		<dict>
			<key>frame</key>
			<string>{{1080,4},{72,72}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>IconGameCenter.png</key>
		<dict>
			<key>frame</key>
			<string>{{1156,4},{72,72}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>IconGooglePlayGameServices.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,4},{72,54}}</string>
			<key>offset</key>
			<string>{0.000000,-1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>MessageBorder.png</key>
		<dict>
			<key>frame</key>
			<string>{{1232,4},{72,72}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>PauseRankBadge.png</key>
		<dict>
			<key>frame</key>
			<string>{{1308,4},{144,72}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{144,72}</string>
		</dict>
		<key>PauseScreenArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,32},{96,96}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>PauseScreenArrowHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,62},{96,96}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>PauseSliderBackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,4},{48,24}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{48,24}</string>
		</dict>
		<key>PauseSliderFill.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,4},{48,24}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{48,24}</string>
		</dict>
		<key>PauseSliderKnot.png</key>
		<dict>
			<key>frame</key>
			<string>{{1456,4},{72,72}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>PauseSmallContinue.png</key>
		<dict>
			<key>frame</key>
			<string>{{956,80},{96,96}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>PauseSmallContinueHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{1056,80},{96,96}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>PauseSmallExit.png</key>
		<dict>
			<key>frame</key>
			<string>{{1156,80},{96,96}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>PauseSmallExitHover.png</key>
		<dict>
			<key>frame</key>
			<string>{{1256,80},{96,96}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>PlayerName0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1356,89},{370,99}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{370,99}</string>
		</dict>
		<key>PlayerName1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1532,4},{480,81}}</string>
			<key>offset</key>
			<string>{0.000000,9.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{480,99}</string>
		</dict>
		<key>PlayerName2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1730,89},{233,99}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{233,99}</string>
		</dict>
		<key>SelectionArrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,4},{46,80}}</string>
			<key>offset</key>
			<string>{0.000000,0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{74,112}</string>
		</dict>
		<key>TapPresentation.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,4},{732,48}}</string>
			<key>offset</key>
			<string>{2.000000,-4.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{738,69}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>textureFileName</key>
		<string>UIAssets.png</string>
	</dict>
</dict>
</plist>
